PORT=
#Database
DB_HOST=
DB_NAME=
DB_PORT=
DB_USERNAME=
DB_PASSWORD=

#S3
S3_SECRET_KEY=
S3_ACCESS_KEY=
S3_BUCKET_NAME=
S3_ENDPOINT=

#Secrets
COOKIE_SECRET=
OTP_TOKEN_SECRET=
ACCESS_TOKEN_SECRET=
REFRESH_TOKEN_SECRET=
PHONE_TOKEN_SECRET=
EMAIL_TOKEN_SECRET=
USERNAME_TOKEN_SECRET=

#Kavenegar
SEND_SMS_URL=
GOOGLE_CLIENT_ID=
GOOGLE_SECRET_ID=

#Zarinnpal"
ZARINPAL_REQUEST_URL=
ZARINPAL_GATEWAY_URL=
ZARINPAL_MERCHANT_ID=